{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_query</title>
    
</head>
<body>
    {% block content %}
    <form action="" method="post">{% csrf_token %}
        
        <div class="row">
            <div class="col-md-4">
                {{form1.grade|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form1.subject|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form1.set|as_crispy_field}}
            </div>
        </div>
        {{form1.questions|as_crispy_field}}
        
        <button class='btn btn-primary' type ='submit'>Submit</button>
        
    </form>
    <a href="{% url 'query_list' %}" class='btn btn-primary mt-4'>Go-To-List</a>
    {% endblock %}
</body>
</html>