{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parser</title>
</head>
<body>

    {% block content %}
        <form action="" method="post">
            {% csrf_token %}
            {{form3.pos_que|as_crispy_field}}
            {{form3.pos_ans|as_crispy_field}}
            {{form3.dep_que|as_crispy_field}}
            {{form3.dep_ans|as_crispy_field}}
            {{form3.question|as_crispy_field}}
            {{form3.answer|as_crispy_field}}
            
            <button class='btn btn-primary' type ='submit'>Parse</button>
        </form>
       
    {% endblock %}
</body>
</html>