{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <table class="table table-bordered">
        <a href="{% url 'parser' %}" class= "btn btn-primary mr-4 ">Parse</a>
        <a href="{% url 'add_query' %}" class='btn btn-primary ml-4'>Add Query</a>
        <a href="{% url 'add_answer' %}" class='btn btn-primary ml-4'>Add Answer</a>
        <a href = "{% url 'wordnet' %}" class = 'btn btn-outline-dark'>Add Wordnet</a>
        <thead>
            {% for instance in parserset %}
            <tr>
                <th>Questions</th>
                <!-- <td>{{instance.question}}</td> -->
                <td colspan="2">
                    {{instance.question.questions}}<br>
                    POS:{{instance.pos_que}}<br>
                    DEP:{{instance.dep_que}}
                </td>
                
                <td>
                    <a href="#" class="btn text-secondary px-0">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <!-- delete button with csrf token -->
                    <form action="#" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class='btn'>
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>    
        
                
            </tr>
            

        </thead>

        <thead>
            
            <tr>
            
                <th rowspan="1" style=" width: 200px; border-left-color: transparent;">
                    <!-- <a href="{% url 'add_answer' %}" id = {{instance.question.id}} class="btn text-secondary px-0">Add Answer</button> -->
                </th>
                    <td style="width: 130px;">Answer 1</td>
                    <td>
                        {{instance.answer.answers}}<br>
                        POS:{{instance.pos_ans}}<br>
                        DEP:{{instance.dep_ans}}
                        
                    </td>
                    <td>
                        <a href="#" class="btn text-secondary px-0">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <!-- delete button with csrf token -->
                        <form action="#" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class='btn'>
                                <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                    
             
            </tr>
            {% endfor %}
            

            
            
            
        </thead>
        
    </table>

    {% endblock %}
</body>
</html>
