{% extends 'base.html' %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordnet</title>
</head>
<body>
    {% block content %}
        <form action="" method="post">
            {% csrf_token %}
            {{form4.word_index|as_crispy_field}}
            {{form4.pos|as_crispy_field}}
            {{form4.dep|as_crispy_field}}
            {{form4.synset_id|as_crispy_field}}
            {{form4.question|as_crispy_field}}
            <button type="submit" class = 'btn btn-outline-dark'>Submit</button>
        </form>
    {% endblock content %}
</body>
</html>